# aux latex files 
*.aux 
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/

# Virtual environments
venv/
.venv/
env/

# OS / editor
.DS_Store
.vscode/
.idea/

# Large model artifacts
*.pth

# Kaggle raw dataset
data/g-research-crypto-forecasting/

# Generated intermediate data
data/filtered_features.csv
data/filtered_targets.csv
data/filtered_log_returns.csv

# Outputs
figures/
results/
checkpoints/
model_checkpoints/
model checkpoints/